/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Software Bancario.iml
/.idea/vcs.xml
/.idea/misc.xml
__pycache__/criar_conta.cpython-310.pyc
__pycache__/conta.cpython-310.pyc
